@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Mulish", sans-serif;
}
body {
  background-color: #e9eff4;
}
.bg-blue {
  background-color: #102133;
}
.bg-sky {
  background-color: #3e87ed;
}
.container{
  width: 100%;
  max-width: 1700px;
  padding:0px 15px;
  margin: auto;
}
